<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>File upload input</title>
  
  
  
      <link href="/static/style.css" rel="stylesheet"  type="text/css"/>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>

     <style>
body, html {
    height: 100%;
    margin: 0;
    
}

h1, html {
    font-family: 'Sofia';font-size: 110px;
}

p, html {
    font-family: 'Sofia';font-size: 32px;
}



.bg {
    /* The image used */
    background-image: url("../static/M43_beletsky.jpg");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
</style>
  
</head>

<body class="bg">
 <form action="/upload" method="post" enctype="multipart/form-data" >
  <script class="jsbin" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<div class="file-upload">
  <button class="file-upload-btn" type="button" onclick="$('.file-upload-input').trigger( 'click' )">Add Image</button>

  <div class="image-upload-wrap">
    <input class="file-upload-input" type="file" name="image" onchange="readURL(this);" accept="image/*" />
    <div class="drag-text">
      <h3>Drag and drop a file to upload</h3>
    </div>
  </div>
  <div class="file-upload-content">
    <img class="file-upload-image" src="#" alt="your image" />
    <div class="image-title-wrap">
      <button type="button" onclick="removeUpload()" class="remove-image">Remove <span class="image-title">Uploaded Image</span></button>
      <input type="submit" value="Upload your image" class="btn btn-success">
    </div>
  </div>
</div>
</form>
  
  

    <script  src="/static/index.js"></script>

    <center><font color="white"><h1 color="white">Super Resolution</h1></font></center>
    <center><font color="white"><p color="white">Upload to see the magic</p></font></center>




</body>

</html>
